<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="homepage.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <!--  to join a meet, both username and roomId are required fields -->
        <div class="container">
            <div class="card">
                <h1 class="card-title">Welcome to QuickConnect</h1>
                <small class="card-subtitle">It's more than a video chat app</small>
                <form class="card-form" action="/join" method="POST">
                    <label for="username">Username</label>
                    <div class="card-input-container">
                        <input type="text" placeholder="Enter your username" name="username_join_user" required>
                    </div>
                    <label for="password">RoomId</label>
                    <div class="card-input-container">
                        <input type="text" placeholder="Enter the roomId" id="password" name="roomid" required>
                    </div>
                    <button typr="submit" class="card-button">Join a meeting</button>
                    <!-- give a link to start meet page here -->
                    <small class="card-forgot-password">Want to start a meet instead?<a href="/">Start</a></small>
                </form>
            </div>
        </div>
    </body>
</html>