<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Meeting area</title>

      <!-- linked all the required stylesheets and scripts -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <script defer src="peerjs.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="/socket.io/socket.io.js" defer></script>
      <link rel="stylesheet" href="style.css">
      <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script src="script.js" defer></script>
      <script src="helper_functions.js" defer></script>

      <!-- fetch the roomId and users list coming from server -->
      <script type="text/javascript">
         const ROOM_ID = "<%= roomId %>"
         const users_dict = JSON.parse('<%- JSON.stringify(users) %>');
      </script>
   </head>
   
   <body>
      <!--  divide the main window into 2 sections, one contains the video grid, another the chat window -->
      <div class="main">
         <div class="main__left">
            <div class="main__videos">
               <!-- video elements will be dynamically appended to this grid -->
               <div id="video-grid">
               </div>
            </div>

            <!-- the controls bar at the bottom -->
            <div class="main__controls">
               <div class="main__controls__block">
                  <div onclick="muteUnmute()" class="main__controls__button main__mute_button">
                     <i class="fas fa-microphone"></i>
                     <span>Mute</span>
                  </div>
                  <div onclick="playStop()" class="main__controls__button main__video_button" >
                     <i class="fas fa-video"></i>
                     <span>Stop Video</span>
                  </div>
                  <div onclick="screenShare()" class="main__controls__button main__video_button" >
                     <i class="fas fa-desktop"></i>
                     <span>Share Screen</span>
                  </div>
               </div>
               <div class="main__controls__block">
                  <div class="main__controls__button" onclick="sendInvite()" data-toggle="modal" data-target="#invite-modal">
                     <i class="fas fa-solid fa-user-plus"></i>
                     <span>Invite friends</span>
                  </div>
                  <div class="main__controls__button" onclick="showParticipantList()" data-toggle="modal" data-target="#participant-modal">
                     <i class="fas fa-user-friends"></i>
                     <span>Participants</span>
                  </div>
                  <div class="main__controls__button">
                     <i class="fas fa-comment-alt"></i>
                     <span>Chat</span>
                  </div>
               </div>
               <div class="main__controls__block">
                  <div class="main__controls__button" onclick="location.href = '/leave';">
                        <i class="fas fa-solid fa-phone-slash"></i>
                        <span class="leave_meeting">Leave Meeting</span> 
                  </div>
               </div>
            </div>
         </div>
         <div class="main__right">
            <div class="main__header">
               <span>Chat</span>
            </div>
            <div class="main__chat_window">
               <!-- chat texts are dynamically appended to this in form of list items -->
               <ul class="messages">
               </ul>
            </div>
            <div class="main__message_container side__controls">
               <input id="chat_message" type="text" placeholder="Type message here...">
               <i class="fas fa-solid fa-paper-plane" onclick="sendMessageButton()"></i>
            </div>
         </div>
      </div>

      <!-- this modal opens up when particpants icon is clicked -->
      <div class="modal fade" id="participant-modal" role="dialog">
         <div class="modal-dialog" style="width: 30%;">
            <div class="modal-content">
               <div class="modal-header" style="display: inline;">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="text-center" style="font-size: 25px; color: #565656; font-weight: 600;">Participants List</h3>
               </div>
               <div class="modal-body">
                     <!-- participant list is refilled eveytime someone clicks on it -->
                     <ul id="participants-list-show">
                     </ul>       
               </div>
            </div>
         </div>
      </div>

      <!-- this modal opens up when invite icon is clicked  -->
      <div class="modal fade" id="invite-modal" role="dialog">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header" style="display: inline;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="text-center" style="font-size: 25px; color: #565656; font-weight: 600;">Send Invite</h3>
               </div>
               <div class="modal-body">  
                  <div class="field">
                     <!-- this textarea is filled dynamically with the current roomId -->
                     <textarea id="invite_message" rows="4" cols="46" style="font-size: 19px;" readonly>
                     </textarea>   
                  </div>  
               </div>
               <!-- on click of copy, copy the text in the textarea with the helper of copyInviteMessage function -->
               <div class="modal-footer">
                  <button class="copy_button" data-dismiss="modal" id="invite_ppl" onclick=copyInviteMessage()>Copy</button>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>