/* using google api for poppin font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
.main {
    /* make sure the page fills the entire screen */
    height: 100vh; 
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main__left {
    /* video grid occupies 80% */
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__right {
    /* chat window occupies 20% */
    flex: 0.2;
    max-width: 21%;
}

.main__videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main__controls {
    background-color: #343434;
}

.main__right {
    background-color: #343434;
    border-left: 1px solid #3D3D42;
}

.main__controls {
    color: #D2D2D2;
    display: flex;
    /* helps group the 3 control-sections (mute+video, invite+particpant+chat, leave meet) with equal spacing */
    justify-content: space-between;
    padding: 5px;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button:hover {
    /* on hover on controls, change bg */
    background-color: #565656;
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 24px;
}

.main__right {
    display: flex;
    flex-direction: column;
}

.main__header {
    padding-top: 20px;
    color: #F5F5F5;
    text-align: center;
    font-size: medium;
}

.main__chat_window {
    flex-grow: 1;
    /* sets the chat window to scrollable as soon the visible space is filled */
    overflow-y: auto;
}

.main__videos {
    flex-grow: 1;
    /* sets the video grid to scrollable as soon the visible space is filled */
    overflow-y: auto;
    flex-wrap: wrap;
}

.messages {
    color: white;
    /* remove bullet in front of li */
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    background-color: darkgray;
    border: none;
    color: black;
    /* set the chat input space to 80% of chat window, leaving space for the send icon */
    width: 80%;
    margin-right: 10px;
}

span {
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

b {
    font-family: "poppins", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.side__controls {
    color: #D2D2D2;
    display: flex;
    padding: 10px;
}

#participants-list-show {
    /* remove the bullet from li of particpant list */
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
  
#participants-list-show li {
    padding-left: 1em;
    text-indent: -1em;
    font-size: 16px;
    margin-left: 25px;
    font-weight: 525;
}
  
#participants-list-show li:before {
    font-family: FontAwesome;
    /* get the user icon being shown in front of each partcipant name from font-awesome */
    content: "\f406";
    padding-right: 5px;
    font-size: 19px;
    vertical-align: middle;
}

/* set the style of copy button same as that being used on home page */
.copy_button {
    width: fit-content;
    height: fit-content;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    background: #565656;
    padding: 10px;
    color: #f4f4f4;
    cursor: pointer;
    box-shadow: -10px -10px 20px rgb(255, 255, 255), 10px 10px 20px rgba(0, 0, 0, 0.4);
}
  
.copy_button:focus,
.copy_button:hover {
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.4),
    inset 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#video-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video{
    /* fixed height and width of video elements */
    height: 300px;
    width: 400px;
    padding: 8px;
}